:root {
  /* Base */
  --bg-color: #F5EEDC; /* Beige claro */
  --font-color: #333333;
  --white-color: #FFFFFF;
  --border-color: #E0E0E0; /* Gris claro */

  /* Main brand colors */
  --primary-color: #58A399; /* Verde azulado */
  --primary-hover: #06D6A0; /* Verde claro */
  --primary-border: #58A399; /* Verde azulado */
  --primary-text: #FFFFFF;

  --warning-color: #FFD166; /* Amarillo */
  --warning-hover: #F0C56A; /* Amarillo más oscuro */
  --warning-border: #FFD166;
  --warning-text: #152D4F;

  /* Secondary and others */
  --secondary-color: #6D4C41; /* Marrón */
  --secondary-hover: #8C5A4E;
  --secondary-border: #6D4C41;
  --secondary-text: #FFFFFF;

  --info-color: #E0E0E0; /* Gris claro */
  --info-hover: #B3B3B3;
  --info-border: #E0E0E0;
  --info-text: #FFFFFF;

  --success-color: #06D6A0; /* Verde claro */
  --success-hover: #4DBBA0;
  --success-border: #06D6A0;
  --success-text: #FFFFFF;

  --danger-color: #EF476F; /* Rosa */
  --danger-hover: #F06577;
  --danger-border: #EF476F;
  --danger-text: #FFFFFF;

  /* Links and outline */
  --link-color: #58A399; /* Verde azulado */
  --link-hover: #06D6A0; /* Verde claro */
  --link-border: #58A399;
  --link-text: #FFFFFF;

  --outline-color: #E0E0E0; /* Gris claro */
  --card-color: #FFFFFF;
  --card-hover: #F4F4F5;
  --card-border: #E0E0E0;
  --card-text: #333333;
  --navbar-color: #FFFFFF;
  --text-secondary: #6D4C41; /* Marrón */
  --text-muted: #767676;
  --card-title-color: #58A399; /* Verde azulado */
}

/* Global Styles */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--font-color);
}

/* Buttons */
.btn {
  border-radius: 10px;
  color: var(--white-color);
  font-weight: 600;
  text-transform: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border-color: var(--border-color);
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-border);
  color: var(--primary-text);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
  color: var(--primary-text);
}
.btn-warning {
  background-color: var(--warning-color);
  border-color: var(--warning-border);
  color: var(--warning-text);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background-color: var(--warning-hover);
  border-color: var(--warning-hover);
  color: var(--warning-text);
}
.btn-danger {
  background-color: var(--danger-color);
  border-color: var(--danger-border);
  color: var(--danger-text);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background-color: var(--danger-hover);
  border-color: var(--danger-hover);
  color: var(--white-color);
}
