.loginContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../public/img/fondo.png');
  background-position: left bottom;
  background-size: 800px auto;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 100vh;
}

.card {
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  width: 100%;
  max-width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: auto;
  height: auto;
  max-height: 90vh;
}

.formControl {
  height: 50px;
  font-size: 1.1rem;
}

.forgotPasswordLink {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #58A399;
}

.modalBackground {
  background-color: #F4F4F5;
}

.full-width {
  width: 100%;
}

@media (max-width: 768px) {
  .loginContainer {
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 100vh;
  }
  .card {
    padding: 1.5rem;
    width: 100%;
    max-width: 98vw;
    max-height: 98vh;
    margin: 0 auto;
    height: auto;
    min-height: unset;
  }
}
