.loginContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../public/img/fondo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; /* Evita el scroll */
}

.card {
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  width: 100%;
  max-width: 800px; /* Aumentar aún más el ancho máximo */
}

.formControl {
  height: 50px; /* Aumenta la altura de los campos de formulario */
  font-size: 1.1rem; /* Tamaño de fuente más grande */
}

.forgotPasswordLink {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #58A399; /* Verde azulado */
}

.modalBackground {
  background-color: #F4F4F5;
}

.full-width {
  width: 100%;
}



@media (max-width: 768px) {
  .card {
    padding: 2rem;
  }
}
